<!DOCTYPE HTML>
<html>
<head>
  <title><%= @title %></title>
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div id="navbar">
    <ul id="links">
      <li class="navbar-link">
        <a href="posts">Posts</a>
      </li>
      <li>
        <a href="/">Home</a>
      </li>
    </ul>
  </div>
  <%= content_for(:template) %>
</body>
</html>
